env/
.DS_Store
Docker/__pycache__

venv/

*.pyc
__pycache__/

instance/
data.db

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
helpers/*
json_template/

# Node/React
node_modules/
frontend/dist/
frontend/node_modules/
package-lock.json

.env

# Ying added to make sure data does not get pushed to GitHub, but we can still use it locally
# download from google drive
data/images/
data/crochet_pattern_by_project/